/clips
/node_modules
/public/hot
/public/storage
/public/img
/public/*.png
/public/*.svg
/storage/*.key
/vendor
.env
.env.example
.env.backup
.env.dev
.phpunit.result.cache
.idea
.settings
.history
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
